.todo-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.todo-item {
    margin-bottom: 20px; /* Добавляем небольшой отступ между элементами списка */
    font-size: 25px; /* Устанавливаем размер текста */
    line-height: 1.5; /* Задаем интервал между строками текста */
    color:blueviolet; /* Задаем цвет текста */
}